# ignore the datasets
/code/VOC/*

# ignore the pretrained and saved models
*.pth

# ignore Pycharm files
/code/.idea/*
/code/__pycache__/*
/code/HICO/images/test2015/*
/code/HICO/images/train2015/*
/code/HICO/*.mat
code/checkpoints/fasterrcnn_11031538_0.008105841617519125
code/checkpoints/fasterrcnn_11031538_0.008105841617519125
